.gameOver {
    background-color: #165d30ed;
    height: 100vh;
    width: 100vw;
}
.lostHeader {
    margin-top: 50px;
    text-align: center;
    animation-name: lostHeader;
    animation-duration: 4s;
    color: #c8102e;
    padding-top: 50px;
    text-shadow: 50px 50px 0px rgba(0, 0, 0, 0.363);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
    font-size: 100px;
}
.lostMessage {
    margin-top: 5px;
    text-align: center;
    animation-name: lostMessage;
    animation-duration: 4s;
    color: #d1ab10;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
    font-size: 60px;
}
@keyframes lostHeader {
    from {font-size: 100px; color: #920c22}
    to {font-size: 145px; color: #c8102e}
} 
@keyframes lostMessage {
    from {font-size: 60px;  color: #f3dc80}
    to {font-size: 80px;  color: #d1ab10}
} 
.restartBtn {
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #c8102e;
    box-shadow: #60061e 15px -155px 50px inset;
    box-shadow: #101 1px 1px 10px;
    margin-top: 50px;
    color: whitesmoke;
}
.wonMessage {
    margin-top: 50px;
    text-align: center;
    animation-name: lostMessage;
    animation-duration: 4s;
    color: #d1ab10;
    padding-top: 50px;
    font-size: 60px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
}
.wonConfetti {
    width: 100%;
    height: 100%;
}
