html {
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'bloodlust';
    src: local('bloodlust'), url(../fonts/bloodlust.ttf) format('truetype');
}
@font-face {
    font-family: 'BLOODY';
    src: local('BLOODY'), url(../fonts/BLOODY.TTF) format('truetype');
}
@font-face {
    font-family: 'ExquisiteCorpse';
    src: url('http://ashandrien.com/fonts/exquisitecorpse.eot');
    src: url('http://ashandrien.com/fonts/exquisitecorpse.eot?#iefix') format('embedded-opentype'),
        url('http://ashandrien.com/fonts/exquisitecorpse.woff') format('woff'),
        url('http://ashandrien.com/fonts/exquisitecorpse.ttf') format('truetype'),
        url('http://ashandrien.com/fonts/exquisitecorpse.svg#exquisitecorpse') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:light,regular,bold,italic|Montserrat:light,regular,bold,black,italic');
.gameOver {
    background-color: #101;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}
.wrongGuessDiv {
    height: 100%;
    width: 100vw;
    text-align: center;
}
.clicksDeathDiv {
    height: 100%;
    width: 100vw;
    text-align: center;
}
.lostHeader {
    font-family:'BLOODY', 'bloodlust', 'ExquisiteCorpse', Marker Felt;
    letter-spacing: 2px;
    color:white;
    margin:100px auto;
    width:100%;
    font-size:120px;
    transition:all 3s ease-in-out;
      -webkit-transition:all 3s ease-in-out;
      -moz-transition:all 3s ease-in-out;
    -o-transition:all 15s ease-in-out;
    color:white;
    padding-top: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: auto;
}
.wrongGuessDiv:hover > h1.lostHeader {
    text-shadow: 0px 1px #c8102e,0px 2px #c8102e, 0px 3px #c8102e, 0px 4px #c8102e, 0px 5px #c8102e, 0px 6px #c8102e, 0px 7px #c8102e, 0px 8px #c8102e, 0px 9px #c8102e, 0px 10px #c8102e, 0px 11px #c8102e, 0px 12px #c8102e, 0px 13px #c8102e, 0px 14px #c8102e, 0px 15px #c8102e, 0px 16px #c8102e, 0px 17px #c8102e, 0px 18px #c8102e, 0px 19px #c8102e, 0px 20px #c8102e, 0px 21px #c8102e, 0px 22px #c8102e, 0px 23px #c8102e, 0px 24px #c8102e, 0px 25px #c8102e, 0px 26px #c8102e, 0px 27px #c8102e, 0px 28px #c8102e, 0px 29px #c8102e, 0px 30px #c8102e, 0px 31px #c8102e, 0px 32px #c8102e, 0px 33px #c8102e, 0px 34px #c8102e, 0px 35px #c8102e, 0px 36px #c8102e, 0px 37px #c8102e, 0px 38px #c8102e, 0px 39px #c8102e, 0px 40px #c8102e, 0px 41px #c8102e, 0px 42px #c8102e, 0px 43px #c8102e, 0px 44px #c8102e, 0px 45px #c8102e, 0px 46px #c8102e, 0px 47px #c8102e, 0px 48px #c8102e, 0px 49px #c8102e, 0px 50px #c8102e, 0px 51px #c8102e,0px 52px #c8102e, 0px 53px #c8102e, 0px 54px #c8102e, 0px 55px #c8102e, 0px 56px #c8102e, 0px 57px #c8102e, 0px 58px #c8102e, 0px 59px #c8102e, 0px 60px #c8102e, 0px 61px #c8102e, 0px 62px #c8102e, 0px 63px #c8102e, 0px 64px #c8102e, 0px 65px #c8102e, 0px 66px #c8102e, 0px 67px #c8102e, 0px 68px #c8102e, 0px 69px #c8102e, 0px 70px #c8102e, 0px 71px #c8102e, 0px 72px #c8102e, 0px 73px #c8102e, 0px 74px #c8102e, 0px 75px #c8102e, 0px 76px #c8102e, 0px 77px #c8102e, 0px 78px #c8102e, 0px 79px #c8102e, 0px 80px #c8102e, 0px 81px #c8102e, 0px 82px #c8102e, 0px 83px #c8102e, 0px 84px #c8102e, 0px 85px #c8102e, 0px 86px #c8102e, 0px 87px #c8102e, 0px 88px #c8102e, 0px 89px #c8102e, 0px 90px #c8102e, 0px 91px #c8102e, 0px 92px #c8102e, 0px 93px #c8102e, 0px 94px #c8102e, 0px 95px #c8102e, 0px 96px #c8102e, 0px 97px #c8102e, 0px 98px #c8102e, 0px 99px #c8102e, 0px 100px #c8102e, 0px 101px #c8102e,0px 102px #c8102e, 0px 103px #c8102e, 0px 104px #c8102e, 0px 105px #c8102e, 0px 106px #c8102e, 0px 107px #c8102e, 0px 108px #c8102e, 0px 109px #c8102e, 0px 110px #c8102e, 0px 111px #c8102e, 0px 112px #c8102e, 0px 113px #c8102e, 0px 114px #c8102e, 0px 115px #c8102e, 0px 116px #c8102e, 0px 117px #c8102e, 0px 118px #c8102e, 0px 119px #c8102e, 0px 120px #c8102e, 0px 121px #c8102e, 0px 122px #c8102e, 0px 123px #c8102e, 0px 124px #c8102e, 0px 125px #c8102e, 0px 126px #c8102e, 0px 127px #c8102e, 0px 128px #c8102e, 0px 129px #c8102e, 0px 130px #c8102e, 0px 131px #c8102e, 0px 132px #c8102e, 0px 133px #c8102e, 0px 134px #c8102e, 0px 135px #c8102e, 0px 36px #c8102e, 0px 37px #c8102e, 0px 38px #c8102e, 0px 39px #c8102e, 0px 40px #c8102e, 0px 41px #c8102e, 0px 142px #c8102e, 0px 143px #c8102e, 0px 144px #c8102e, 0px 145px #c8102e, 0px 146px #c8102e, 0px 147px #c8102e, 0px 148px #c8102e, 0px 149px #c8102e, 0px 150px #c8102e, 0px 151px #c8102e,0px 152px #c8102e, 0px 153px #c8102e, 0px 154px #c8102e, 0px 155px #c8102e, 0px 156px #c8102e, 0px 157px #c8102e, 0px 158px #c8102e, 0px 159px #c8102e, 0px 160px #c8102e, 0px 161px #c8102e, 0px 162px #c8102e, 0px 163px #c8102e, 0px 164px #c8102e, 0px 165px #c8102e, 0px 166px #c8102e, 0px 167px #c8102e, 0px 168px #c8102e, 0px 169px #c8102e, 0px 170px #c8102e, 0px 171px #c8102e, 0px 172px #c8102e, 0px 173px #c8102e, 0px 174px #c8102e, 0px 175px #c8102e, 0px 176px #c8102e, 0px 177px #c8102e, 0px 178px #c8102e, 0px 179px #c8102e, 0px 180px #c8102e, 0px 181px #c8102e, 0px 182px #c8102e, 0px 183px #c8102e, 0px 184px #c8102e, 0px 185px #c8102e, 0px 186px #c8102e, 0px 187px #c8102e, 0px 188px #c8102e, 0px 189px #c8102e, 0px 190px #c8102e, 0px 191px #c8102e, 0px 192px #c8102e, 0px 193px #c8102e, 0px 194px #c8102e, 0px 195px #c8102e, 0px 196px #c8102e, 0px 197px #c8102e, 0px 198px #c8102e, 0px 199px #c8102e;
}
.clicksDeathDiv:hover > h1.lostHeader {
    text-shadow: 0px 1px #c8102e,0px 2px #c8102e, 0px 3px #c8102e, 0px 4px #c8102e, 0px 5px #c8102e, 0px 6px #c8102e, 0px 7px #c8102e, 0px 8px #c8102e, 0px 9px #c8102e, 0px 10px #c8102e, 0px 11px #c8102e, 0px 12px #c8102e, 0px 13px #c8102e, 0px 14px #c8102e, 0px 15px #c8102e, 0px 16px #c8102e, 0px 17px #c8102e, 0px 18px #c8102e, 0px 19px #c8102e, 0px 20px #c8102e, 0px 21px #c8102e, 0px 22px #c8102e, 0px 23px #c8102e, 0px 24px #c8102e, 0px 25px #c8102e, 0px 26px #c8102e, 0px 27px #c8102e, 0px 28px #c8102e, 0px 29px #c8102e, 0px 30px #c8102e, 0px 31px #c8102e, 0px 32px #c8102e, 0px 33px #c8102e, 0px 34px #c8102e, 0px 35px #c8102e, 0px 36px #c8102e, 0px 37px #c8102e, 0px 38px #c8102e, 0px 39px #c8102e, 0px 40px #c8102e, 0px 41px #c8102e, 0px 42px #c8102e, 0px 43px #c8102e, 0px 44px #c8102e, 0px 45px #c8102e, 0px 46px #c8102e, 0px 47px #c8102e, 0px 48px #c8102e, 0px 49px #c8102e, 0px 50px #c8102e, 0px 51px #c8102e,0px 52px #c8102e, 0px 53px #c8102e, 0px 54px #c8102e, 0px 55px #c8102e, 0px 56px #c8102e, 0px 57px #c8102e, 0px 58px #c8102e, 0px 59px #c8102e, 0px 60px #c8102e, 0px 61px #c8102e, 0px 62px #c8102e, 0px 63px #c8102e, 0px 64px #c8102e, 0px 65px #c8102e, 0px 66px #c8102e, 0px 67px #c8102e, 0px 68px #c8102e, 0px 69px #c8102e, 0px 70px #c8102e, 0px 71px #c8102e, 0px 72px #c8102e, 0px 73px #c8102e, 0px 74px #c8102e, 0px 75px #c8102e, 0px 76px #c8102e, 0px 77px #c8102e, 0px 78px #c8102e, 0px 79px #c8102e, 0px 80px #c8102e, 0px 81px #c8102e, 0px 82px #c8102e, 0px 83px #c8102e, 0px 84px #c8102e, 0px 85px #c8102e, 0px 86px #c8102e, 0px 87px #c8102e, 0px 88px #c8102e, 0px 89px #c8102e, 0px 90px #c8102e, 0px 91px #c8102e, 0px 92px #c8102e, 0px 93px #c8102e, 0px 94px #c8102e, 0px 95px #c8102e, 0px 96px #c8102e, 0px 97px #c8102e, 0px 98px #c8102e, 0px 99px #c8102e, 0px 100px #c8102e, 0px 101px #c8102e,0px 102px #c8102e, 0px 103px #c8102e, 0px 104px #c8102e, 0px 105px #c8102e, 0px 106px #c8102e, 0px 107px #c8102e, 0px 108px #c8102e, 0px 109px #c8102e, 0px 110px #c8102e, 0px 111px #c8102e, 0px 112px #c8102e, 0px 113px #c8102e, 0px 114px #c8102e, 0px 115px #c8102e, 0px 116px #c8102e, 0px 117px #c8102e, 0px 118px #c8102e, 0px 119px #c8102e, 0px 120px #c8102e, 0px 121px #c8102e, 0px 122px #c8102e, 0px 123px #c8102e, 0px 124px #c8102e, 0px 125px #c8102e, 0px 126px #c8102e, 0px 127px #c8102e, 0px 128px #c8102e, 0px 129px #c8102e, 0px 130px #c8102e, 0px 131px #c8102e, 0px 132px #c8102e, 0px 133px #c8102e, 0px 134px #c8102e, 0px 135px #c8102e, 0px 36px #c8102e, 0px 37px #c8102e, 0px 38px #c8102e, 0px 39px #c8102e, 0px 40px #c8102e, 0px 41px #c8102e, 0px 142px #c8102e, 0px 143px #c8102e, 0px 144px #c8102e, 0px 145px #c8102e, 0px 146px #c8102e, 0px 147px #c8102e, 0px 148px #c8102e, 0px 149px #c8102e, 0px 150px #c8102e, 0px 151px #c8102e,0px 152px #c8102e, 0px 153px #c8102e, 0px 154px #c8102e, 0px 155px #c8102e, 0px 156px #c8102e, 0px 157px #c8102e, 0px 158px #c8102e, 0px 159px #c8102e, 0px 160px #c8102e, 0px 161px #c8102e, 0px 162px #c8102e, 0px 163px #c8102e, 0px 164px #c8102e, 0px 165px #c8102e, 0px 166px #c8102e, 0px 167px #c8102e, 0px 168px #c8102e, 0px 169px #c8102e, 0px 170px #c8102e, 0px 171px #c8102e, 0px 172px #c8102e, 0px 173px #c8102e, 0px 174px #c8102e, 0px 175px #c8102e, 0px 176px #c8102e, 0px 177px #c8102e, 0px 178px #c8102e, 0px 179px #c8102e, 0px 180px #c8102e, 0px 181px #c8102e, 0px 182px #c8102e, 0px 183px #c8102e, 0px 184px #c8102e, 0px 185px #c8102e, 0px 186px #c8102e, 0px 187px #c8102e, 0px 188px #c8102e, 0px 189px #c8102e, 0px 190px #c8102e, 0px 191px #c8102e, 0px 192px #c8102e, 0px 193px #c8102e, 0px 194px #c8102e, 0px 195px #c8102e, 0px 196px #c8102e, 0px 197px #c8102e, 0px 198px #c8102e, 0px 199px #c8102e;
}
.lostMessage {
    font-family: Marker Felt, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    width: 50%;
    margin: 60px auto;
    color: white;
    line-height: 1.5;
}
.restartBtn {
    display: flex;
    margin: auto;
    padding: 15px 22px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #c8102e;
    box-shadow: #60061e 15px -155px 50px inset;
    box-shadow: #101 1px 1px 10px;
    margin-top: 50px;
    color: whitesmoke;
}
.wonMessage {
    margin-top: 150px;
    text-align: center;
    /* animation-name: lostMessage; */
    /* animation-duration: 4s; */
    color: #d1ab10;
    padding-top: 50px;
    font-size: 80px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);    
    font-family: Marker Felt, Georgia, 'Times New Roman', Times, serif;

}
.wonConfetti {
    width: 100%;
    height: 100%;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-top: 70px;
    text-align: center;
    /* animation-name: lostMessage; */
    /* animation-duration: 4s; */
    color: #c8102e;
    padding-top: 90px;
    font-size: 80px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);    
    font-family: Marker Felt, Georgia, 'Times New Roman', Times, serif;
}
.tracking-in-expand2 {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-top: 20px;
    text-align: center;
    /* animation-name: lostMessage; */
    /* animation-duration: 4s; */
    color: #d1ab10;
    padding: 50px;
    font-size: 35px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);    
    font-family: Marker Felt, Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
    }
  
@media screen and (min-width: 800px) {
    .tracking-in-expand {
        font-size: 100px;
    }
    .tracking-in-expand2 {
        font-size: 45px;
    }
}